{% extends "layout.html" %}

{% block content %}
    <a href="/community">< Return to the Community Section</a>
    <h1>{{ user }}'s Profile</h1>
    <img class="rounded-circle profile_img center"
     src="{{ url_for('static', filename='profilepics/' + image_file) }}">
    <hr>
    <h2>User Bio:</h2>
    <p>{{ bio }}</p>
<h2>User Posts</h2>
    {% for post in posts %}
        <hr>
        <a href="{{ url_for('community_bp.post', post_id=post['id']) }}">
            <button class="btn btn-secondary">
                <h5>{{ post['title'] }}</h5>
            </button>
        </a>
        <span class="badge badge-primary">{{ user }}</span>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('community_bp.edit', post_id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    {% endfor %}
{% endblock %}
